<%@language=jscript%>
<% title="Machine Learning Toolbox 1.0" %>
<!--#include virtual="/jang/include/editfile.inc"-->
<html>
<head>
	<title>Machine Learning Toolbox 1.0</title>
	<meta HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=big5">
	<meta HTTP-EQUIV="Expires" CONTENT="0">
	<style>
		td {font-family: "helvetica,arial", "Tahoma"}
		A:link {text-decoration: none}
		A:hover {text-decoration: underline}
	</style>
</head>
<script src="/jang/js/lib/utility4webClient.js"></script>

<body>
<h2 align=center>Machine Learning Toolbox 1.0</h2>
<h3 align=center>Design, Analysis, and Visualization of Machine Learning Methods</h3>
<hr>
Machine Learning Toolbox (MLT) extends MATLAB with tools for design, evaluation, and visualization of machine learning methodologies which are used extensively nowadays for analyzing massive real-world data with success. MLT provides comprehensive support for a number of proven methods for data clustering, pattern classification, input selection, performance evaluation, data reduction, as well as various visualizaiton functions for revealing the characteristics of your dataset and the adopted methods. The open, uniform and extensible design of the toolbox simplifies the process of exploring machine learning methodologies for a specific task.

<p><fieldset>
KEY FEATURES
<ul>
<li>Methods for data clustering
<li>Methods for data classification
<li>Preprocessing and postprocessing for data manipulation
<li>Data reduction in both size and dimensionality
<li>Uniform interface for classifiers' training and evaluation
<li>Input selection and extraction for effective classification
<li>Flexible distance measures for sequence comparisons
<li>Visualization functions for viewing clustering and classification results
<li>Extensive examples for real-world applications:
</ul>
</fieldset>


<h3>Using Machine Learning Toolbox</h3>
MLT supports commonly used methodologies of maching learning for real-world applications. A list of supported functions is shown next.

<ul>
<li>Clustering
	<ul>
	<li>K-means clustering
	<li>Vector quantization via center-splitting
	<li>Hierarchical clustering
	<script>
	imageArray= new Array();
	imageArray[0]={"src":"hcAggAnim01.png", "title":"Hierarchical clustering using single linkage forms a minimum-spanning tree on a 2D data", "width":300};
	imageArray[1]={"src":"dendrogram01.png", "title":"Dendrogram showing the process of hierarchical clustering", "width":300};
	showImageArray(imageArray);
	</script>
	<li>Cluster validation
	</ul>
<li>Probability Density Function (PDF) Modeling
	<ul>
	<li>High-dimensional Gaussian PDF
	<li>Gaussian mixture model (GMM)
	<li>Hidden Markov models (HMM)
	</ul>
	<script>
	imageArray= new Array();
	imageArray[0]={"src":"gmmTrainDemo2dCovType03a.png", "title":"GMM modeling of a donut-shaped 2D dataset", "width":300};
	imageArray[1]={"src":"gmmTrainDemo2dCovType03b.png", "title":"PDF of the GMM", "width":300};
	imageArray[2]={"src":"gmmTrainDemo2dCovType03c.png", "title":"Contours of the GMM's PDF", "width":300};
	showImageArray(imageArray);
	</script>
<li>Classification
	<ul>
	<li>K-nearest-neighbor classifier (KNNC)
	<li>Learning vector quantization (LVQ)
	<li>Linear Perceptron
	<li>Naive Bayes classifier (NBC)
	<li>Quadratic classifier (QC)
	<script>
	imageArray= new Array();
	imageArray[0]={"src":"knncDecBoundary.png", "title":"Decision boundary of KNNC for the last two dimensions of IRIS dataset", "width":300};
	imageArray[1]={"src":"nbcDecBoundary.png", "title":"Decision boundary of NBC for the same dataset", "width":300};
	imageArray[2]={"src":"qcDecBoundary.png", "title":"Decision boundary of QC for the same dataset", "width":300};
	showImageArray(imageArray);
	</script>
	<li>Gaussain-mixture-model classifier (GMMC)
	<script>
	imageArray= new Array();
	imageArray[0]={"src":"gmmcNonlinearSeparable01.png", "title":"Decision boundary of GMMC for a nonlinear separable 2D dataset", "width":300};
	imageArray[1]={"src":"gmmcNonlinearSeparable02.png", "title":"Class PDFs of the GMMC", "width":300};
	showImageArray(imageArray);
	</script>
	<li>Hidden-Markov-model classifier
	<!--
	<li>Support vector machine (SVM)
	<li>Adaboost
	-->
	</ul>
	
<li>Classifier Performance Evaluation
	<ul>
	<li>Holdout test
	<li>Two-way holdout test
	<li>N-fold cross validation
	<li>Leave-one-out test
	</ul>
<li>Flexible Distance Measures
	<ul>
	<li>L-p norm
	<li>Longest common subsequence
	<li>Edit distance
	<script>
	imageArray= new Array();
	imageArray[0]={"src":"lcs01.png", "title":"String similarity based on longest common subsequences", "width":300};
	imageArray[1]={"src":"editDistance01.png", "title":"String distance based on edit distance", "width":300};
	showImageArray(imageArray);
	</script>
	<li>Dynamic time warping (DTW)
	<script>
	imageArray= new Array();
	imageArray[0]={"src":"dtwPlot01.png", "title":"DTW alignment path", "width":300};
	imageArray[1]={"src":"dtwPlot02.png", "title":"DTW alignment as 2D bridge plot", "width":300};
	imageArray[2]={"src":"dtwPlot03.png", "title":"DTW alignment as 3D bridge plot", "width":300};
	showImageArray(imageArray);
	</script>
	</ul>
<li>Feature Selection
	<ul>
	<li>Sequential forward selection
	<li>Sequential backward selection
	<li>Exhaustive search
	</ul>
<li>Feature Transformation
	<ul>
	<li>Principal component analysis
	<li>Linear discriminant analysis
	</ul>
<li>Data Size Reduction
	<ul>
	<li>Data editing
	<li>Data condensing
	</ul>
<li>Visualization for Dataset and Classifier
	<ul>
	<li>Data distribution and labeling
	<li>Cluster distribution during data clustering
	<li>PDF monitoring during maximum likelihood estimation
	<li>Decision boundaries after classification
	<li>Confusion matrix for post analysis
	</ul>
</ul>

<h3>Example of Real-world Applications</h3>
MLT provides full-fledged examples of real-world applications to demonstrate its feasibility. A list of the applications is shown next.
<ul>
<li>Image compression via vector quantization
<li>Classification for datasets from the Machine Learning Repository of UC Irvine
<li>Eigenface-based face recognition
<li>Fisherface-based face recognition
<li>Speaker-dependent voice command recognition
<!--
<li>Speaker identification
<li>Query by singing/humming
-->
</ul>

<h3>Required Product</h3>
<ul>
<li>MATLAB
<li>Some demos require the Image Processing Toolbox
</ul>

<hr>

<script language="JavaScript">
document.write("Last updated on " + document.lastModified + ".")
</script>

</body>
</html>